<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Company Carpool{% endblock %}</title>
</head>
<!-- w3 css library import-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- style choices-->
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
body {background-color: #3c3e42;}
body{background-image: url('https://backlightblog.com/images/2021/12/forest-photography-header.jpg');}
</style>
</style>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>